*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1{
    font-size: 40px;
    text-align: center;
    text-decoration: underline;
    padding: 10px;
    border: 15px;
    margin: 20px;
}
.parrafo-principal{
    text-align: center;
    font-size: 30px;
}
section p{
    border: 10px;
    padding: 10px;
    margin: 35px;
    font-size: 20px;
}
.titulo-inicio{
    text-align: center;
    font-size: 30px;
}
.sub-parrafo-principal{
    font-size: 20px;
    text-align: center;
}
.ultima-parte{
    display: inline-block;
    background-color: #e5e5e5;
    width: 100%;
    text-align: center;
}
.reparacion{
    display: flex;
    width: 500px;
    margin: 20px;
    margin-bottom: 5px;
}
.sub-servicios{
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    margin: 30px;
}
h3{
    text-align: center;
    font-size: 45px;
    font-weight: normal;
    margin-bottom: 20px;
    margin-top: 20px;
}
.pie-pagina{
    font-size: 30px;
}
.container {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr 1fr 1fr ;
    grid-template-areas: 
    "reparacion"
    "celular"
    "vende";
    row-gap: 40px ;
}
.contenedor-reparacion{
    align-items: center;
    display: flex;
}
.celular{
    width: 450px;
    margin-bottom: 10px;
    margin: 20px;
}
.contenedor-compramos{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.vende{
    width: 400px;
    margin: 20px;
}
.contenedor-vende{
    display: flex;
    align-items:center;
    font-size: 30px;
    margin-top: 20px;
}
h4{
    font-size: 30px;
    text-align: center;
}
.contenedor-productos{
    display: flex;
    flex-wrap: wrap;
    margin: 15px;
    justify-content: space-around;
    margin-bottom: 25px;
}
.fotos1{
    width: 350px;
    height: 250px;
    border-radius: 10px;
    box-shadow: 3px 0 5px rgb(0, 0, 0,1);
    transition: transform .3s;
}
.fotos1:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.fotos2{
    width: 350px;
    height: 250px;
    border-radius: 10px;
    box-shadow: 3px 0 5px rgb(0, 0, 0,1);
}
.fotos2:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.fotos3{
    width: 350px;
    height: 250px;
    border-radius: 10px;
    box-shadow: 3px 0 5px rgb(0, 0, 0,1);
}
.fotos3:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.fotos4{
    width: 350px;
    height: 290px;
    border-radius: 10px;
    box-shadow: 3px 0 5px rgb(0, 0, 0,1);
}
.fotos4:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.fotos5{
    width:350px ;
    height: 290px;
    border-radius: 10px;
    box-shadow: 3px 0 5px rgb(0, 0, 0,1);
}
.fotos5:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.fotos6{
    width: 350px;
    height: 290px;
    border-radius: 10px;
    box-shadow: 3px 0 5px rgb(0, 0, 0,1);
}
.fotos6:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.servicio{
    margin-bottom: 50px;
}
.contenedor-nosotros{
    border: 2px solid black;
    margin: 10px 5px;
    box-shadow: 1px 0 4px rgba(0, 0, 0, 1);
}
.link-nosotros:hover{
    color: #000;
    font-size: 25px;
    text-decoration: none;
}
article{
    font-size: 25px;
    margin: 20px;  
}
.mail-contacto{
    font-size: 30px;
    text-decoration: none;
}
.mail-contacto:hover{
    color: blue;
}
.contacto-parrafo{
    font-size: 40px;
}

/* desktop */

@media screen and (min-width: 1084px)  {
    .servicio {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: 
        "fotos1 fotos2 fotos3"
        " fotos4 fotos5 fotos6";
    }
} 

/* tablet */ 

@media screen and (min-width: 730px) and (max-width:1084px) {
    .servicio {
        margin-left: 20px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3,1fr);
        grid-template-areas: 
        "fotos1 fotos2"
        "fotos3 fotos4"
        "fotos5 fotos6";
    }
}

/* mobile*/

@media screen and (max-width:730px){
    .servicio {
        grid-template-columns: 1fr ;
        grid-template-rows: repeat(6, 1fr);
        grid-template-areas: 
        "fotos1"
        "fotos2"
        "fotos3"
        "fotos4"
        "fotos5"
        "fotos6";
    }
}